{% extends "blog/base.html" %}
{% block content %}

<div class="col-12" style="padding:0px;">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <div class="article-form" style="margin-top:20px;">
        <p>Ar tikrai norite ištrinti ?</p>
      </div>
      <div class="article-buttons">
        <button class="button alert_button" type="submit">
          <span>Taip</span>
        </button>
        <a class="button secondary_button" href="{% url 'post-detail' object.id %}">Netrinti</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
